$color-rad: #ff4c0d;
$color-black: #151515;
$color-white: #f1f1f1;

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Gilroy;
  src: url("../assets/fonts/Gilroy/Gilroy-Regular.ttf");
}
@font-face {
  font-weight: 500; /* Соответствует значению normal */
  font-family: Gilroy;
  src: url("../assets/fonts/Gilroy/Gilroy-Medium.ttf");
}
@font-face {
  font-weight: 600;
  font-family: Gilroy;
  src: url("../assets/fonts/Gilroy/Gilroy-SemiBold.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Gilroy;
  src: url("../assets/fonts/Gilroy/Gilroy-Bold.ttf");
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
}

body {
  background: #222222;
  color: $color-white;
  font-size: 14px;
  font-family: Gilroy;
  line-height: 150%;
  overflow-x: hidden;
  letter-spacing: -0.14px;
}
body::-webkit-scrollbar {
  width: 7px;
  background-color: #222222;
}

body::-webkit-scrollbar-thumb {
  background-color: $color-rad;
  border-radius: 4px;
}

.header {
  .light {
    right: 0;
    z-index: -1;
    position: absolute;
  }
  .header__body {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    .header__button {
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 700;
      line-height: 150%;
      color: $color-black;
      padding: 15px 35px;
      border-radius: 65px;
      background: $color-white;
    }
    .header__use {
      align-items: center;
      display: flex;
      gap: 412px;
      .header__links {
        display: flex;
        gap: 40px;
        .header-link {
          a {
            color: $color-white;
            font-size: 14px;
            font-family: Gilroy;
            line-height: 150%;
            letter-spacing: -0.14px;
          }
        }
      }
    }
  }
}

.main {
  margin-top: 130px;
  .main__body {
    position: relative;
    .main__image {
      position: absolute;
      top: -664px;
      z-index: -1;
      width: 1946px;
      left: 110px;
      height: 1329px;
    }
    .main__use {
      display: flex;
      gap: 30px;
      flex-direction: column;
      .main-title {
        font-size: 80px;
        font-weight: 600;
        line-height: 100%;
      }
      .nain-desc {
        font-size: 30px;
        font-weight: 600;
        line-height: 120%;
        color: $color-rad;
      }
      .main__buttons {
        margin-top: 30px;
        border-radius: 108px;
        width: 250px;
        display: flex;
        border: 3px $color-white solid;
        .main-button1 {
          border-radius: 65px;
          background-color: $color-white;
          color: $color-black;
          width: 120px;
          font-size: 16px;
          padding: 15px 30px;
          font-weight: 700;
          line-height: 150%;
        }
        .main-button2 {
          width: 130px;
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
          padding: 15px 30px;
        }
      }
    }
  }
}

.mods {
  position: relative;
  margin-top: 250px;
  .mods__body {
    .light {
      left: -114px;
      position: absolute;
      top: -500px;
      z-index: -1;
    }
    .mods-title {
      font-size: 45px;
      font-weight: 500;
      line-height: 110%;
    }
    .mods__line {
      position: relative;
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      .mods__line-block {
        display: flex;
        width: 360px;
        flex-direction: column;
        gap: 30px;
        .block-line {
          height: 3px;
          width: 100%;
          background-color: $color-white;
        }
        .block-title {
          font-size: 20px;
          font-weight: 600;
          line-height: 120%;
        }
        .block-desc {
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.14px;
        }
        .color-rad {
          background-color: $color-rad;
        }
      }
      .opas {
        opacity: 0.4;
        .block-line {
          opacity: 0;
        }
      }
    }
    .mods__line::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      top: 54px;
      opacity: 0.4;
      z-index: -1;
      background-color: $color-white;
    }
  }
  .mods__images {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .light2 {
      top: 135px;
      right: 30px;
      z-index: -1;
      position: absolute;
    }
  }
}

.image {
  padding: 120px 0;
  margin-top: 120px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/image/image.png);
  .line1 {
    position: absolute;
    top: -350px;
    z-index: -1;
  }
  .line2 {
    right: -1250px;
    top: 500px;
    z-index: -1;
    position: absolute;
  }
  .light {
    position: absolute;
    right: -150px;
    top: -450px;
    z-index: -1;
  }

  .image__body {
    .image-title {
      font-size: 45px;
      font-weight: 500;
      line-height: 110%;
      margin-top: 150px;
    }
    .image-desc {
      font-size: 14px;
      margin-top: 30px;
      line-height: 150%;
      letter-spacing: -0.14px;
    }
  }
}

.apdates {
  margin-top: 120px;
  position: relative;
  .light1 {
    position: absolute;
    right: -208px;
    top: -500px;
    z-index: -1;
  }
  .light2 {
    position: absolute;
    left: -100px;
    z-index: -1;
    bottom: -500px;
  }
  .line {
    position: absolute;
    left: -1200px;
    z-index: -1;
    bottom: -900px;
  }
  .apdates__body {
    .apdates-title {
      font-size: 45px;
      font-weight: 500;
      line-height: 110%;
      color: $color-rad;
    }
    .apdates-items {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      .item {
        width: 560px;
        position: relative;
        height: 550px;
        background: #0e0e0e;
        border-radius: 15px;
        padding: 60px;
        .title {
          font-size: 20px;
          font-weight: 600;
          line-height: 120%;
          position: absolute;
          bottom: 138px;
        }
        .desc {
          margin-top: 15px;
          font-size: 14px;
          position: absolute;
          bottom: 60px;
          font-family: Gilroy;
          line-height: 150%;
          letter-spacing: -0.14px;
        }
      }
      .bg {
        background: url(/assets/apdates/icon2.png);
      }
    }
  }
}

.mods2 {
  .light3 {
    position: absolute;
    z-index: -1;
    left: 100px;
    bottom: -400px;
  }
  .mods__body .mods__line::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 78px;
    opacity: 0.4;
    z-index: -1;
    background-color: #f1f1f1;
  }
  .block2 {
    max-width: 260px;
  }
  .mods-title {
    color: $color-rad;
  }
}

.mobile {
  margin-top: 120px;
  position: relative;
  .light1 {
    position: absolute;
    top: -550px;
    right: -200px;
    z-index: -1;
  }
  .light2 {
    z-index: -1;
    left: -200px;
    bottom: -450px;
    position: absolute;
  }
  .mobile__body {
    display: flex;
    gap: 75px;
    align-items: center;
    position: relative;
    .mobile__use {
      .mobile-title {
        font-size: 45px;
        color: #ff4c0d;
        font-weight: 500;
        line-height: 110%;
      }
      .mobile-desc {
        font-size: 14px;
        font-family: Gilroy;
        line-height: 150%;
        letter-spacing: -0.14px;
        max-width: 358px;
        margin-top: 30px;
      }
      .mobile-buttons {
        margin-top: 60px;
        display: flex;
        gap: 20px;
      }
    }
    .mobile__image {
      .line {
        z-index: -1;
        right: -600px;
        top: -300px;
        position: absolute;
      }
    }
  }
}

.image2 {
  margin-top: 0px;
  background-image: url(/assets/image/image2.png);
  .image__body {
    .image-title {
      color: $color-rad;
    }
    .image-desc {
      width: 460px;
      color: $color-black;
    }
  }
}

.comments {
  margin-top: 120px;
  position: relative;
  .line {
    position: absolute;
    top: -300px;
    z-index: -1;
    right: -1200px;
  }
  .light {
    top: -500px;
    right: -300px;
    z-index: -1;
    position: absolute;
  }
  .comments__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .comments-title {
      font-size: 45px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 110%;
      color: $color-rad;
    }
    .comment__use {
      display: flex;
      justify-content: space-between;
      .button {
        border-radius: 65px;
        padding: 15px 35px;
        background: $color-white;
        font-size: 16px;
        font-family: Gilroy;
        font-weight: 700;
        line-height: 150%;
        color: $color-black;
      }
      .sliders {
        display: flex;
        gap: 15px;
        .arrow {
          cursor: pointer;
        }
      }
    }
    .comments__place {
      display: flex;
      gap: 40px;
      .comment {
        background: $color-black;
        border-radius: 15px;
        min-width: 460px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .title {
          font-size: 20px;
          font-family: Gilroy;
          font-weight: 600;
          line-height: 120%;
        }
        .comment-line {
          width: 100px;
          height: 3px;
          background: $color-rad;
        }
        .desc {
          font-size: 14px;
          font-family: Gilroy;
          line-height: 150%;
          letter-spacing: -0.14px;
        }
      }
    }
  }
}

.questions {
  margin-top: 120px;
  position: relative;
  .light {
    top: -300px;
    left: -100px;
    z-index: -1;
    position: absolute;
  }
  .questions__body {
    display: flex;
    gap: 85px;
    .questions__quests {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .quest {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .title {
          font-size: 20px;
          font-family: Gilroy;
          font-weight: 600;
          line-height: 120%;
        }
        .line {
          width: 100px;
          height: 3px;
          background-color: $color-rad;
        }
        .desc {
          font-size: 14px;
          font-family: Gilroy;
          line-height: 150%;
          letter-spacing: -0.14px;
        }
      }
    }
    .questions__use {
      .questions-title {
        font-size: 45px;
        font-family: Gilroy;
        font-weight: 500;
        line-height: 110%;
        color: $color-rad;
      }
      .questions-desc {
        font-size: 14px;
        font-family: Gilroy;
        line-height: 150%;
        margin-top: 30px;
        letter-spacing: -0.14px;
      }
      .questions-button {
        padding: 15px 35px;
        border-radius: 65px;
        background-color: $color-white;
        color: $color-black;
        font-size: 16px;
        margin-top: 60px;
        font-family: Gilroy;
        font-weight: 700;
        line-height: 150%;
      }
    }
  }
}

.buy {
  margin-top: 120px;
  position: relative;
  .line {
    position: absolute;
    top: -200px;
    left: 110px;
    z-index: -1;
  }
  .buy__body {
    padding: 60px;
    justify-content: space-between;
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(/assets/buy/bg.svg);
    img {
      top: -100px;
      z-index: 0;
      right: -150px;
      position: absolute;
    }

    .left {
      .title {
        color: #f1f1f1;
        font-size: 45px;
        font-family: Gilroy;
        font-weight: 500;
        line-height: 110%;
        .c {
          color: $color-rad;
        }
      }
      .main__buttons {
        margin-top: 30px;
        border-radius: 108px;
        width: 250px;
        display: flex;
        border: 3px $color-white solid;
        .main-button1 {
          border-radius: 65px;
          background-color: $color-white;
          color: $color-black;
          width: 120px;
          font-size: 16px;
          padding: 15px 30px;
          font-weight: 700;
          line-height: 150%;
        }
        .main-button2 {
          width: 130px;
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
          padding: 15px 30px;
        }
      }
      .buttom {
        margin-top: 200px;
        font-size: 16px;
        font-family: Gilroy;
        font-weight: 700;
        line-height: 150%;
        padding: 15px 35px;
        border-radius: 65px;
        background: $color-rad;
      }
    }
    .right {
      z-index: 1;
      .title {
        font-size: 20px;
        font-family: Gilroy;
        font-weight: 600;
        line-height: 120%;
      }
      .desc {
        margin-top: 25px;
        font-size: 14px;
        font-family: Gilroy;
        line-height: 230%;
        letter-spacing: -0.14px;
      }
    }
  }
}

.footer__body {
  font-size: 14px;
  font-family: Gilroy;
  line-height: 150%;
  letter-spacing: -0.14px;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  .desc {
    text-align: end;
  }
}
